<!DOCTYPE html>
<html>
<head>
  
<title>employee details</title>

</head>
<body>
    <h1 style="text-align:center;">Enter employee Details</h1>

    <div style="text-align:center;" >
    <img  src="/static/emp.jpg" alt="employee_image" width="200px" height="200px"  >
    <form action="/submit" method='post' >

        <label for="eid">Employee id:</label>
        <input type="text" id="eid" name="eid" ><br><br>

        <label for="ename">Employee name:</label>
        <input type="text" id="ename" name="ename" ><br><br>

        <label for="erole">Employee role:</label>
        <input type="text" id="erole" name="erole" ><br><br>

        <label for="esalary">Employee salary:</label>
        <input type="text" id="esalary" name="esalary" ><br><br>

        <input type="submit" value="Submit">
    </div>
      </form> 
      

</body>
</html>